<main class='container'>
  <div class='block-center block-login'>
    <div class='block-center_header'>
      <h2>{{title}}</h2>
    </div>
    {{{form}}}
  </div>
  {{{blockLinks}}}
</main>
