<main class='container row'>
  <span class='block-text-error'>{{{error}}}</span>
  <div class='block-center block-login'>
    <div class='block-center_header'>
      <h2>{{title}}</h2>
    </div>
    {{{form}}}
  </div>
  {{{blockLinks}}}
</main>
