<section class="left-block block-left-bar">
  <div class="block-left-bar_top">
      <div class="profile-link">
         {{> Link href="#" text="Профиль >" class="text-grey-color" }}
      </div>
      <div>
         <input class="search input-grey" placeholder="Поиск" >
      </div>
   </div>
   <div>
      {{> ChartBlock userName="Alex" userMessage="Привет!" date="10:49" countMessage="2" }}
      {{> ChartBlock userName="Oxy" userMessage="Ты где?" date="19:12" countMessage="54" }}
   </div>
</section>
