.button {
  background: var(--blueColor);
  color: var(--whiteColor);
  font-size: 13px;
  text-align: center;
  padding: 12px 0;
  font-weight: 500;
  border: 0px;
  border-radius: 8px;
  width: 100%;
  transition: 0.5s;
	&:hover {
    cursor: pointer;
    background: #205bf0;
	}
}

