
<main class="container">
  <div class="block-center block-login">
    <div class="block-center_header">
      <h2>Вход</h2>
    </div>
    <div class="block-center_middle">
      {{> Input label="Логин" type="text" name="login" }}
      {{> Input label="Пароль" type="password" name="password" }}
    </div>
    <div class="block-center_footer">
       {{!-- {{{ Button text="Авторизация" }}}   --}}
      {{!-- {{> Button text="Авторизация" }} --}}
      {{> Link text="Нет акаунта?" href="#" }}
    </div>
  </div>
</main>
  {{> BlockLinks }}
  

  
