<div class="block-links">
  <a class="block-links_navigation" href="#" data-page="authorization">Авторизация</a>
  <a class="block-links_navigation" href="#" data-page="registration">Регистрация</a>
  <a class="block-links_navigation" href="#" data-page="profile">Профиль</a>
  <a class="block-links_navigation" href="#" data-page="profile-edit">Изменить данные</a>
  <a class="block-links_navigation" href="#" data-page="profile-edit-password">Изменить пароль</a>
  <a class="block-links_navigation" href="#" data-page="charts">Список чатов</a>
  <a class="block-links_navigation" href="#" data-page="chart">Чат</a>
  <a class="block-links_navigation" href="#" data-page="error">404</a>
  <a class="block-links_navigation" href="#" data-page="server-error">500</a>
</div>