<nav class='block-links'>
  <ul>
    <li>
      <a class='block-links_navigation' href='#' data-page='authorization'>Авторизация</a>
    </li>
    <li>
      <a class='block-links_navigation' href='#' data-page='registration'>Регистрация</a>
    </li>
    <li>
      <a class='block-links_navigation' href='#' data-page='profile'>Профиль</a>
    </li>
    <li>
      <a class='block-links_navigation' href='#' data-page='profile-edit'>Изменить данные</a>
    </li>
    <li>
      <a class='block-links_navigation' href='#' data-page='profile-edit-password'>Изменить пароль</a>
    </li>
    <li>
      <a class='block-links_navigation' href='#' data-page='charts'>Список чатов</a>
    </li>
    <li>
      <a class='block-links_navigation' href='#' data-page='chart'>Чат</a>
    </li>
    <li>
      <a class='block-links_navigation' href='#' data-page='error-client'>404</a>
    </li>
    <li>
      <a class='block-links_navigation' href='#' data-page='error-server'>500</a>
    </li>
  </ul>
</nav>
