{{> LinkArrow href="#" }}
<main class="container">
  <div class="block-center block-profile">
    <div class="block-center_header">
      <div class="logo-block" alt="Поменять аватар"></div>
      <h2>John</h2>
    </div>
    <div class="block-center_middle">
      {{> TextProfile label="Почта" text="pochta@yandex.ru" }}
      {{> TextProfile label="Логин" text="ivanivanov" }}
      {{> TextProfile label="Имя" text="John" }}
      {{> TextProfile label="Фамилия" text="Doe" }}
      {{> TextProfile label="Имя в чате" text="John" }}
      {{> TextProfile label="Телефон" text="+7 (909) 967 30 30" }}
    </div>
    <div class="block-center_footer profile_footer">
      <div class="border-bottom-block">
        {{> Link text="Изменить данные" href="/" }}
      </div>
      <div class="border-bottom-block">
         {{> Link text="Изменить пароль" href="/" }}
      </div>
      <div class="border-bottom-block">
         {{> Link class="text-red-color" text="Выйти" href="/" }}
      </div>
    </div>
  </div>
</main>
{{> BlockLinks }}


