
<div class="contrainer">
  <div class="block-center block-error">
    <h1>500</h1>
    <h2>Мы уже фиксим</h2>
    {{> Link href="#" text="Назад к чатам" }}
    </div>
  </div>
</div>
{{> BlockLinks }}
