<div class="text-profile-block border-bottom-block">
    <div>
        <span class="text-bold">{{ label }}</span> 
    </div>
    <div>
        <input class="text-profile-block_input" 
               type={{ type }} 
               name={{ name }} 
               placeholder={{ text }} 
        />
    </div>
</div>    
