<div class='chat_middle'>
  <div class='date-text-messages text-grey-color'>{{{dateMassage}}}</div>
  <div class='chart-message-block chart-answer-block'>
    {{{answerMessage}}}
  </div>
  <div class='chart-message-block user-answer-block'>
    {{{myMessage}}}
  </div>
</div>
