<div class="block-chats-list">
  <div class="chart-sidebar">{{> LeftBar }}</div>
  <div class="center-items block-chats-list_center">
    <span class="text-grey-color">Выберите чат чтобы отправить сообщение</span>
  </div>
</div>
{{> BlockLinks }}
