<div class="chat-block border-bottom-block">
    <div class="chat-block_left">
        <div class="user-img"></div>
    </div>
    <div class="chat-block_middle">
        <span class="text-bold">{{ userName }} </span>
        <div class="message-block text-grey-color">{{ userMessage }} </div>
    </div>
    <div class="chat-block_right">
        <div class="text-small-label">{{ date }} </div>
        <div class="circle circle-small count-block">
            <span>{{ countMessage }}</span>
        </div>
    </div>
</div>    
