
<div class="contrainer">
  <div class="block-center block-error">
    <h1>404</h1>
    <h2>Не туда попали</h2>
    {{> Link href="#" text="Назад к чатам" }}
    </div>
  </div>
</div>
{{> BlockLinks }}
