{{> LinkArrow href="#" }}
<main class="contrainer">
  <div class="block-center block-profile">
    <div class="block-center_header">
      <div class="logo-block" alt="Поменять аватар"></div>
    </div>
    <div class="block-center_middle">
      {{> InputTextProfile label="Старый пароль" name="oldPassword" text="******" }}
      {{> InputTextProfile label="Новый пароль" name="newPassword" text="******" }}
      {{> InputTextProfile label="Повторите новый пароль" name="newPassword" text="******" }}
    </div>
    <div class="block-center_footer">
      {{> Button text="Сохранить" }}
    </div>
  </div>
</main>
{{> BlockLinks }}

