<div class='chart-sidebar'>
  <section class='left-block block-left-bar'>
    <div class='block-left-bar_top'>
      <div class='profile-link'>
        {{{linkProfile}}}
      </div>
      <div>
        {{{searchInput}}}
      </div>
    </div>
    <div>
      {{{chatsBlock}}}
    </div>
  </section>
</div>
